{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "partials/head.html" %}
<head>
    <title>{% block title %}{% endblock title %} Recipes</title>
</head>
<body>
    {% include "partials/menu.html" %}
    {% include "partials/header.html" %}
    {% include "partials/search.html" %}
    
    <main class="main-content-container">
        {% block content %}

        {% endblock %}

        {% include "partials/pagination.html" %}

    </main>

    {% include 'partials/footer.html' %}

    <script src="{% static "global/js/scripts.js" %}"></script>
</body>

</html>